<peak-content-wrapper class="peak-dashboard-home">
    <div class="modules">
        <div class="modules__item-link --module-color-a">
            <peak-icon [nameIcon]="'route_module'"
                       [size]="100">
            </peak-icon>
            <span class="modules__item-link__title">Routes</span>
        </div>
        <div class="modules__item-link --module-color-b">
            <peak-icon [nameIcon]="'assistance_module'"
                       [size]="100">
            </peak-icon>
            <span class="modules__item-link__title">Route assistance</span>
        </div>
        <div class="modules__item-link --module-color-c">
            <peak-icon [nameIcon]="'rent_bike_module'"
                       [size]="100">
            </peak-icon>
            <span class="modules__item-link__title">Bike rent</span>
        </div>
    </div>

</peak-content-wrapper>
