@import '../app.variables.scss';

.peak-dashboard-home {
  .modules {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item-link {
      margin: 16px;
      text-decoration: none;
      border-radius: 50%;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      &__title {
        color: white;
        margin: 8px 0;
        font-weight: 500;
      }
    }
  }

  .--module-color-a {
    background-color: $module-link-color-a;
  }
  .--module-color-b {
    background-color: $module-link-color-b;
  }
  .--module-color-c {
    background-color: $module-link-color-c;
  }

}

@media only screen and (max-width: 685px) {
  .peak-dashboard-home {
    .modules {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 686px) and (max-width: 1007px) {

}

@media only screen and (min-width: 1008px) and (max-width: 1350px) {

}

@media only screen and (min-width: 1351px) {

}

@media only screen and (min-width: 1824px) {

}

@media only screen and (min-width: 2000px) {

}