/* ==========================================================================
   Colors
   ========================================================================== */
$bzg-color-text-primary: #555555 !default;
$bzg-color-text-secondary: #B7B7B7;
$bzg-color-button-primary: #3a4d5a;
$bzg-color-button-secondary: transparent;
$bzg-color-danger: #D04454;
$bzg-color-warning: #9F6000;
$bzg-color-line: #DEDEDE;
$bzg-color-background: #F8F8F8;
$bzg-color-text-code: #165196;
$white-color: #FFFFFF;
$black-color: #000000;
$error-tooltip-color: #E95E59 !default;

/* ==========================================================================
   Dimensions
   ========================================================================== */
$wrapper-min-height: 700;