.peak-content-wrapper {
  background: white;
  min-height: 2000px;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
  border-radius: 1px;
  padding: 20px;
}
